.movie-card {
    position: relative;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
    padding: 1.5rem;
    margin-right: 100px;
    margin-top: 5px;
    box-shadow: -1rem 0 3rem #000;
  }

  .poster {
    height: 300px;
    max-width: fit-content;
    background-origin: content-box;
    background-color: #000000;
    box-shadow: -1rem 0 3rem #000;
  }