.director-view{
    color: white;
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
   
}

.director-name{
    font-family: "Montserrat Medium";
    color: bisque;
    font-weight: bold;
}

.card-name{
    color: black;
}